@{
    ViewBag.Title = "Registeration of Broker";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" media="screen and (max-height: 450px)" />
    <link rel="stylesheet" type="text/css" media="screen and (max-height: 450px)" />
    <style>
        body {
            font-family: "Lato", sans-serif;
        }

        .sidenav {
            height: 100%;
            width: 200px;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
            padding-top: 60px;
        }

            .sidenav a {
                padding: 6px 6px 6px 32px;
                text-decoration: none;
                font-size: 25px;
                color: #818181;
                display: block;
            }

                .sidenav a:hover {
                    color: #f1f1f1;
                }


        .main {
            margin-left: 200px; /* Same as the width of the sidenav */
        }
    </style>


</head>
<body style=" font-size: 18px">
    <div class="sidenav">

        <a href="http://localhost:57783/Admin">Profile</a>
        <a href="http://localhost:57783/">Log Out</a>
    </div>

    <div class="main">

        <center>
            <h1>BrokerRegisteration</h1>



            <br />
            <p>
                

                <div class="form-group">
                    
                        <label for="usr">Name</label>
                        <br />
                        <input type="text" class="form-control" value="Wafa Malik">

                </div>
                    <div class="form-group">
                        <br />

                        <label for="usr">CNIC</label>
                        <br />

                        <input type="text" class="form-control" value="3540965299466" />
                    </div>

                    <br />
                    <div class="form-group">
                        <br />

                        <label for="usr">City</label>
                        <br />

                        <input type="text" class="form-control" value="New York" />
                    </div>

                    <br />
                    <div class="form-group">
                        <br />

                        <label for="usr">Contact No</label>
                        <br />

                        <input type="text" class="form-control" value="+9217893" />
                    </div>

                    <br />
                    <div class="form-group">
                        <br />

                        <label for="usr">Email</label>
                        <br />

                        <input type="text" class="form-control" value="wm3428441@gmail.com" />
                    </div>

                    <br />
                    <div class="form-group">
                        <br />

                        <label for="usr">ID</label>
                        <br />

                        <input type="text" class="form-control" value="1" />
                    </div>

                    <br />
                    <div class="form-group">
                        <br />

                        <label for="usr">Code</label>
                        <br />

                        <input type="text" class="form-control" value="32@34" />
                    </div>

                    <br />

                    <a class="btn btn-primary btn-lg" href="http://localhost:57783/Admin/Index">    Register   </a>
                
            </p>
        </center>

    </div>



</body>
</html>
