@{
    ViewBag.Title = "User Details";
}

<center><h1>User Profile</h1></center>
<BR /><BR />
<h2>

<div class="form-group">
    <label for="usr">Name:</label>
    <input type="text" class="form-control" value="Zainab" id="usr">
</div>
<div class="form-group">
    <label for="usr">Location:</label>
    <input type="text" value="Iqbal Town,Lahore" class="form-control" id="usr">
</div>
<div class="form-group">
    <label for="usr">Age:</label>
    <input type="text" value="24" class="form-control" id="usr">
</div>
<div class="form-group">
    <label for="usr">Cast:</label>
    <input type="text" value="Malik" class="form-control" id="usr">
</div>
<div class="form-group">
    <label for="usr">Gender:</label>
    <input type="text" value="Female" class="form-control" id="usr">
</div>
<div class="form-group">
    <label for="usr">Religion:</label>
    <input type="text" value="Islam" class="form-control" id="usr">
</div>
<div class="form-group">
    <label for="usr">Profession:</label>
    <input type="text" value="Engineer" class="form-control" id="usr">
</div>
<div class="form-group">
    <label for="usr">Salary:</label>
    <input type="text" value="25000" class="form-control" id="usr">
</div>
<a href="http://localhost:57783/User/Index">Back to mainPage</a>
</h2>