@{
    ViewBag.Title = "Index";
}


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" media="screen and (max-height: 450px)" />
    <link rel="stylesheet" type="text/css" media="screen and (max-height: 450px)" />
    <style>
        body {
            font-family: "Lato", sans-serif;
        }

        .sidenav {
            height: 100%;
            width: 200px;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
            padding-top: 60px;
        }

            .sidenav a {
                padding: 6px 6px 6px 32px;
                text-decoration: none;
                font-size: 25px;
                color: #818181;
                display: block;
            }

                .sidenav a:hover {
                    color: #f1f1f1;
                }


        .main {
            margin-left: 200px; /* Same as the width of the sidenav */
        }
       

    </style>


</head>
<body>
    <div class="sidenav">

        <a href="http://localhost:57783/User/">User Profile</a>
        <a href="http://localhost:57783/User/Notification">Notifications</a>
        <a href="http://localhost:57783/User/SearchProposal">Search</a>
        <a href="http://localhost:57783/User/UserReq">Requests</a>
        <a href="http://localhost:57783/">Log Out</a>
    </div>

    <div class="main">
      
        <center><h2>Index</h2></center>
        <br /><br /><br /><br /><br /><br />



        <div class="row">
            <div class="col-md-4">
                <h1>Notifications</h1>

                <p><a class="btn btn-primary btn-lg" href="http://localhost:57783/User/Notification">Go </a></p>
            </div>
            <div class="col-md-4">
                <h1>Search</h1>
                <p><a class="btn btn-primary btn-lg" href="http://localhost:57783/User/SearchProposal">Go </a></p>
            </div>
            <div class="col-md-4">
                <h1>Requests</h1>
                <p><a class="btn btn-primary btn-lg" href="http://localhost:57783/User/UserReq">Go </a></p>
            </div>
        </div>
    </div>



</body>
</html>



