@{
    ViewBag.Title = "USER LOGIN";
}
<center>
    <h1> USER LOGIN PAGE</h1>
    <br /><br /><h2>
    <div>
        <label for="usr">Username:</label>
        <input type="text" class="form-control" id="usr">
    </div>
    <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd">
    </div>


    <left>
        <a href="http://localhost:57783/User/Index" class="btn btn-primary btn-lg" role="button">Login</a>
    </left>
    <br />
    <label for="register">Don't have an account?</label>
    <a href="http://localhost:57783/User/UserReg">Register Now</a>
</h2>
</center>