@{
    ViewBag.Title = "Broker Profile";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" media="screen and (max-height: 450px)" />
    <link rel="stylesheet" type="text/css" media="screen and (max-height: 450px)" />
    <style>
        body {
            font-family: "Lato", sans-serif;
        }

        .sidenav {
            height: 100%;
            width: 200px;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
            padding-top: 60px;
        }

            .sidenav a {
                padding: 6px 6px 6px 32px;
                text-decoration: none;
                font-size: 25px;
                color: #818181;
                display: block;
            }

                .sidenav a:hover {
                    color: #f1f1f1;
                }


        .main {
            margin-left: 200px; /* Same as the width of the sidenav */
        }
    </style>


</head>
<body>
    <div class="sidenav">

        <a href="http://localhost:57783/Broker/">Broker Profile</a>
        <a href="http://localhost:57783/Broker/RegistrationReq">Reg Requests</a>
        <a href="http://localhost:57783/Broker/ViewProgress">View Progress</a>
        <a href="http://localhost:57783/">Log Out</a>

    </div>

    <div class="main">

        <h1> WelcomeBroker</h1>
        <center>
            <br />
            <br /><h2>
                <br />
                <a href="http://localhost:57783/Broker/RegistrationReq">Registeration Requests</a>
                <br />
                <br />
               
                <a href="http://localhost:57783/Broker/ViewProgress">View Progress</a>
            </h2>
        </center>

    </div>



</body>
</html>


