@{
    ViewBag.Title = "Broker LOGIN";
}
<center>
    <h1> Broker Login Page</h1>
    <br /><br />
          <h2>
              <div class="form-group">
                  <label for="usr">Id:</label>
                  <input type="text" class="form-control" id="usr">
              </div>
              <div class="form-group">
                  <label for="pwd">Code:</label>
                  <input type="password" class="form-control" id="pwd">
              </div>


              <right>
                  <a href="http://localhost:57783/Broker/Index" class="btn btn-primary btn-lg" role="button">Login</a>
              </right>
          </h2>
</center>