@{
    ViewBag.Title = "Refunding of money";
}
<h1>PayBack Money</h1>



<br />
<p>
    <h2>
        <div class="form-group">
            <label for="usr">Account No</label>
            <br />
            <input type="text" class="form-control" />
        </div>
        <div class="form-group">
            <br />

            <label for="usr">Amount</label>
            <br />

            <input type="text" class="form-control" />
        </div>

        <br />


        <button class=" btn-primary">Pay Back</button>
    </h2>
</p>