@{
    ViewBag.Title = "View Progress";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" media="screen and (max-height: 450px)" />
    <link rel="stylesheet" type="text/css" media="screen and (max-height: 450px)" />
    <style>
        body {
            font-family: "Lato", sans-serif;
        }

        .sidenav {
            height: 100%;
            width: 200px;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
            padding-top: 60px;
        }

            .sidenav a {
                padding: 6px 6px 6px 32px;
                text-decoration: none;
                font-size: 25px;
                color: #818181;
                display: block;
            }

                .sidenav a:hover {
                    color: #f1f1f1;
                }


        .main {
            margin-left: 200px; /* Same as the width of the sidenav */
        }
    </style>


</head>
<body>
    <div class="sidenav">
        
        <a href="http://localhost:57783/Broker/">Broker Profile</a>
        <a href="http://localhost:57783/Broker/RegistrationReq">Reg Requests</a>
        <a href="http://localhost:57783/Broker/ViewProgress">View Progress</a>

    </div>

    <div class="main">


        <h1>View Progress</h1>
        <table class="table table-bordered table-hover table-responsive">
            <thead class=" breadcrumb">
                <tr>
                    <th>Sender</th>
                    <th>Receiver</th>
                    <th>Sender Status</th>

                    <th>Receiver Status</th>


                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Asher</td>
                    <td>Sara</td>

                    <td>Paid</></td>
                    <td>Paid</td>
                </tr>
                <tr>
                    <td>Arsalan</td>
                    <td>Fatima</td>

                    <td>Unpaid</></td>
                    <td>Unpaid</td>
                </tr>
            </tbody>


        </table>

    </div>



</body>
</html>


